In [3]:
import pandas as pd

meal = {"Item" : ["Cookies", "Water", "Chips", "Juice", "Cakes", "Snacks"],
     "Storage" : [1, 2, 1, 2, 2, 1], 
     "Price" : [20.7, 3.12, 15.4, 19.0, 33.3, 5.10], 
     "Quantity" : [300, 860, 555, 201, 421, 666]}
df = pd.DataFrame(meal)
df

      Item  Storage  Price  Quantity
0  Cookies        1  20.70       300
1    Water        2   3.12       860
2    Chips        1  15.40       555
3    Juice        2  19.00       201
4    Cakes        2  33.30       421
5   Snacks        1   5.10       666

In [4]:
df.head(2)

      Item  Storage  Price  Quantity
0  Cookies        1  20.70       300
1    Water        2   3.12       860

In [6]:
df.tail(3)

     Item  Storage  Price  Quantity
3   Juice        2   19.0       201
4   Cakes        2   33.3       421
5  Snacks        1    5.1       666

In [8]:
df[df['Price'] > 10]

      Item  Storage  Price  Quantity
0  Cookies        1   20.7       300
2    Chips        1   15.4       555
3    Juice        2   19.0       201
4    Cakes        2   33.3       421

In [9]:
df['Total_cost'] = df["Price"] + df['Quantity']
df

      Item  Storage  Price  Quantity  Total_cost
0  Cookies        1  20.70       300      320.70
1    Water        2   3.12       860      863.12
2    Chips        1  15.40       555      570.40
3    Juice        2  19.00       201      220.00
4    Cakes        2  33.30       421      454.30
5   Snacks        1   5.10       666      671.10

In [17]:
import numpy as np

In [19]:
df['Price'] = df['Price'].apply(np.floor)
df

      Item  Storage  Price  Quantity  Total_cost
0  Cookies        1   20.0       300      320.70
1    Water        2    3.0       860      863.12
2    Chips        1   15.0       555      570.40
3    Juice        2   19.0       201      220.00
4    Cakes        2   33.0       421      454.30
5   Snacks        1    5.0       666      671.10

In [21]:
df['Discount'] = df['Quantity'].apply(lambda x: 1 if x % 2 == 0 else 0)
df

      Item  Storage  Price  Quantity  Total_cost  Discount
0  Cookies        1   20.0       300      320.70         1
1    Water        2    3.0       860      863.12         1
2    Chips        1   15.0       555      570.40         0
3    Juice        2   19.0       201      220.00         0
4    Cakes        2   33.0       421      454.30         0
5   Snacks        1    5.0       666      671.10         1

In [22]:
df['Storage'].mean()

1.5

In [23]:
df['Storage'].min()

1

In [24]:
df['Storage'].max()

2