In [1]:
import pandas as pd

ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [2]:
import pandas as pd

d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_series = pd.Series(d1)
print("Converted series:")
print(new_series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [3]:
import numpy as np
import pandas as pd

np_array = np.array([10, 20, 30, 40, 50])
print("NumPy array:")
print(np_array)
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [4]:
import pandas as pd

s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [5]:
import pandas as pd

ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [7]:
import random

df = pd.DataFrame(np.random.randint(low=1, high=10, size=[3,5]))
df = pd.concat([df, pd.DataFrame({'letter': ['a', 'b', 'c']})], axis=1)
df = pd.concat([df, pd.DataFrame({'r_letter': [random.choice(s) for i in range(len(df))]})], axis=1)
print('сформированный DataFrame:')
print(df)
print()

сформированный DataFrame:
   0  1  2  3  4 letter  r_letter
0  4  4  4  1  4      a         5
1  2  7  4  4  9      b         3
2  7  5  8  9  3      c         5

In [9]:
import sys
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

df = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv')

In [12]:
test_list = 'abcedf'
test_arr = np.arange(len(test_list))
test_dict = dict(zip(test_list, test_arr))
s = pd.Series(test_dict)
df = s.to_frame().reset_index()
df.columns=['letter', 'number']
df

  letter  number
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4
5      f       5

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv', nrows=10)
df.isnull().values.any()

True

In [14]:
df = pd.DataFrame(data=np.arange(20).reshape(4,5), columns=list('abcde'))
df['f'] = 0
df

    a   b   c   d   e  f
0   0   1   2   3   4  0
1   5   6   7   8   9  0
2  10  11  12  13  14  0
3  15  16  17  18  19  0